In [68]:
from scipy.spatial import distance
import numpy as np
A = [3.06,500,6]
B = [2.68,320,4]
C = [2.92,640,6]
A_arr = np.array(A)
B_arr = np.array(B)
C_arr = np.array(C)
dff = [A,B,C]
dff_arr = np.array(dff)

# Alfa=Beta=1

In [2]:
print(np.arccos(distance.cosine(A_arr,B_arr))*180/np.pi)

89.99984720840851

In [3]:
print(np.arccos(distance.cosine(B_arr,C_arr))*180/np.pi)

89.99930404967479

In [4]:
print(np.arccos(distance.cosine(A_arr,C_arr))*180/np.pi)

89.99973318051175

# Alfa= 0.01, Beta=0.5

In [5]:
print(np.arccos(distance.cosine(A_arr,B_arr,w=[1,0.01,0.5]))*180/np.pi)

89.98536938973403

In [6]:
print(np.arccos(distance.cosine(B_arr,C_arr,w=[1,0.01,0.5]))*180/np.pi)

89.94544634563098

In [7]:
print(np.arccos(distance.cosine(A_arr,C_arr,w=[1,0.01,0.5]))*180/np.pi)

89.98346628515755

# Part C: If after scaling Alpha=Beta=1

In [8]:
scaled=[]
i=range(3)
for i in range(3):
    for n in dff_arr[:,i]:
        scaled.append(n/(np.sum(dff_arr[:,i])/len(dff_arr[:,i])))

scaled = np.reshape(scaled,(3,3)).T
scaled

array([[1.06004619, 1.02739726, 1.125     ],
       [0.92840647, 0.65753425, 0.75      ],
       [1.01154734, 1.31506849, 1.125     ]])

In [9]:
print(np.arccos(distance.cosine(scaled[:,0],scaled[:,1]))*180/np.pi)

88.49832211628535

In [10]:
print(np.arccos(distance.cosine(scaled[:,1],scaled[:,2]))*180/np.pi)

89.5187999827756

In [11]:
print(np.arccos(distance.cosine(scaled[:,0],scaled[:,2]))*180/np.pi)

89.54620380939578

# Exercise 2

# The competitor can create a user account on the company's website and like some goods in order to find out which similar goods will be suggested, which means that suggested goods has the most popularity among users, at least among most neighbors. This method of stealing data will work when the collaborative filtering system has been implemented. By this type of attack the competitor can find out which goods have the most popularity and match better according to users' interest and sometimes users' purchase. However, this type of attack has negative impact on the filtering system as well. It can result fake similarities, which has produced by fake users such as competitor. By increasing of this kind of attack the system will lose its ability to suggest proper goods as many fake ratings from the competitors happened.

# Exercise 3

In [5]:
import pandas as pd
import numpydoc as np


d = {'a': pd.Series([4, 2], index=['A', 'C']), 'b': pd.Series([5, 3], index=['A', 'B']),
    'c' : pd.Series([4, 1], index=['B', 'C']), 'd' : [5,3,3], 'e' : pd.Series([1,1], index=['A', 'B']),
    'f' : pd.Series([2, 4], index=['A', 'C']), 'g' : [3,1,5], 'h' : pd.Series([2, 3], index=['A', 'C'])}

df = pd.DataFrame(data=d, index=['A', 'B', 'C'])
df

     a    b    c  d    e    f  g    h
A  4.0  5.0  NaN  5  1.0  2.0  3  2.0
B  NaN  3.0  4.0  3  1.0  NaN  1  NaN
C  2.0  NaN  1.0  3  NaN  4.0  5  3.0

In [113]:
bool_df = []
zero_df = df.fillna(0.0)
bool_df = zero_df.astype(bool)
bool_df
zero_df

     a    b    c  d    e    f  g    h
A  4.0  5.0  0.0  5  1.0  2.0  3  2.0
B  0.0  3.0  4.0  3  1.0  0.0  1  0.0
C  2.0  0.0  1.0  3  0.0  4.0  5  3.0

In [104]:
def intersection(in_df):
    intersection_dic = {}
    count = 0
    for i in range(3):
        for j in range(len(bool_df.iloc[0])):
            if bool_df.iloc[i%3][j] == bool_df.iloc[(i+1)%3][j]:
                count +=1
        intersection_dic.update({i:count})
        count = 0
    return intersection_dic

intersection(bool_df)

{0: 4, 1: 3, 2: 5}

# a_Jaccard distance

In [107]:
def jaccard(in_df):
    dic = {}
    dic = intersection(bool_df)
    jaccard_dis = {}
    jaccard_dis.update({'AB': 1-(dic[0]/len(in_df.iloc[0]))})
    jaccard_dis.update({'BC': 1-(dic[1]/len(in_df.iloc[0]))})
    jaccard_dis.update({'AC': 1-(dic[2]/len(in_df.iloc[0]))})
    return jaccard_dis
jaccard(bool_df)

{'AB': 0.5, 'BC': 0.625, 'AC': 0.375}

# b_Cosine distance

In [106]:
def cosine(in_df):
    cosine_dis = {}
    cosine_dis.update({'AB':distance.cosine(in_df.iloc[0],in_df.iloc[1])})
    cosine_dis.update({'BC':distance.cosine(in_df.iloc[1],in_df.iloc[2])})
    cosine_dis.update({'AC':distance.cosine(in_df.iloc[0],in_df.iloc[2])})
    return cosine_dis
cosine(bool_df)

{'AB': 0.3238765962171868, 'BC': 0.4522774424948339, 'AC': 0.22848325018954052}

# c&d

In [114]:
binary_df=zero_df.copy(deep=True)
binary_df.replace([0,1,2],0.0,inplace=True)
binary_df.replace([3,4,5],1.0,inplace=True)
binary_df

     a    b    c  d    e    f  g    h
A  1.0  1.0  0.0  1  0.0  0.0  1  0.0
B  0.0  1.0  1.0  1  0.0  0.0  0  0.0
C  0.0  0.0  0.0  1  0.0  1.0  1  1.0

In [108]:
jaccard(binary_df)

{'AB': 0.5, 'BC': 0.625, 'AC': 0.375}

In [109]:
cosine(binary_df)

{'AB': 0.42264973081037416, 'BC': 0.7113248654051871, 'AC': 0.5}

# e&f

In [186]:
norm_df = df.copy(deep=True)
def avg(in_df):
    avg_dic={}
    for i in range(norm_df.shape[0]): #iterate over rows
        count=0
        summ=0
        for j in range(norm_df.shape[1]):#iterate over columns
            if pd.isna(norm_df.iloc[i,j]):
                continue
            count +=1
            summ += norm_df.iloc[i,j]
        avg_dic.update({i:summ/count})
    return avg_dic
            
avg(norm_df)

{0: 3.142857142857143, 1: 2.4, 2: 3.0}

In [187]:
def norm(in_df):
    for i in range(norm_df.shape[0]): #iterate over rows
        for j in range(norm_df.shape[1]):#iterate over columns
            if pd.isna(norm_df.iloc[i,j]):
                continue
            norm_df.iloc[i,j] = norm_df.iloc[i,j]-avg_dic[i]
    return norm_df
norm(norm_df)

          a         b    c         d         e         f         g         h
A  0.857143  1.857143  NaN  1.857143 -2.142857 -1.142857 -0.142857 -1.142857
B       NaN  0.600000  1.6  0.600000 -1.400000       NaN -1.400000       NaN
C -1.000000       NaN -2.0  0.000000       NaN  1.000000  2.000000  0.000000

In [188]:
jaccard(norm(norm_df))

{'AB': 0.5, 'BC': 0.625, 'AC': 0.375}

In [189]:

temp=norm(norm_df)
cosine(temp.fillna(0.0))

{'AB': 0.3153167039917374, 'BC': 0.5454550186931619, 'AC': 0.32979422823636295}

# Exercise 4

# a_ in this rating system, numerical rating of 1 to 5 populate the utility matrix, which can be replaced by some qualitative values from worst to best according to the experiences of students in lectures, seminars and exams corresponding to that professor.
# b_ this type of rating can be a set of qualitative values from a mature to professional artwork, the features of items in this category can be technique, harmony of colors, innovation, majesty of artwork and so on.
# c_ the rating system can be a binary set of preferred or not, and the special event in this scenario is the ability of users to determine a dream partner for themselves, which can be a big help for the recommender system.